<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" 
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" android:required="true" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HarvestHub"
        tools:targetApi="31" >

        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBx9hPyev6cP5-8ZHPokIagPP2OM2ZelJI" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <!-- Splash Screen - Main Launcher -->
        <activity
            android:name=".activities.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.HarvestHub.NoActionBar"
            android:screenOrientation="portrait"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Login Activity -->
        <activity
            android:name=".activities.LoginActivity"
            android:exported="false"
            android:theme="@style/Theme.HarvestHub.NoActionBar"/>

        <!-- Main Activity -->
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:theme="@style/Theme.HarvestHub.NoActionBar"/>

        <!-- Other Activities -->
        <activity
            android:name=".activities.BlinkViewerActivity"
            android:theme="@style/Theme.HarvestHub.NoActionBar"/>
            
        <activity
            android:name=".activities.ServerActivity"
            android:theme="@style/Theme.HarvestHub.NoActionBar"/>
            
        <activity
            android:name=".activities.ChatActivity"
            android:theme="@style/Theme.HarvestHub.FullScreen"
            android:exported="false"/>
            
        <activity
            android:name=".activities.SignUpActivity"
            android:exported="false"
            android:theme="@style/Theme.HarvestHub.NoActionBar"/>
            
        <activity
            android:name=".activities.DashboardActivity"
            android:exported="false"
            android:theme="@style/Theme.HarvestHub.NoActionBar"/>

        <!-- Location Activities -->
        <activity
            android:name=".activities.Location1Activity"
            android:theme="@style/Theme.HarvestHub.NoActionBar"/>
            
        <activity
            android:name=".activities.Location2Activity"
            android:theme="@style/Theme.HarvestHub.NoActionBar"/>
            
        <activity
            android:name=".activities.Location3Activity"
            android:theme="@style/Theme.HarvestHub.NoActionBar"/>
            
        <activity
            android:name=".activities.Location4Activity"
            android:theme="@style/Theme.HarvestHub.NoActionBar"/>
            
        <activity
            android:name=".activities.DirectChatActivity"
            android:exported="false"
            android:theme="@style/Theme.HarvestHub.NoActionBar"
            android:windowSoftInputMode="adjustResize"/>

        <activity
            android:name=".foodAPI.LogMealActivity"
            android:exported="false"
            android:theme="@style/Theme.HarvestHub.NoActionBar"/>

        <activity android:name=".foodAPI.LogMealExtendedActivity"
            android:exported="false"
            android:theme="@style/Theme.HarvestHub.NoActionBar"/>
            
        <activity
            android:name=".foodListings.FoodActivity"
            android:exported="false"
            android:theme="@style/Theme.HarvestHub.NoActionBar"/>

        <activity
            android:name=".foodListings.EditFoodActivity"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.sp.harvesthub.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <receiver
            android:name=".NavigationUpdateReceiver"
            android:exported="false" />
    </application>

</manifest>